.about-section{
    background-color: $primary;
    padding: $s-md;
}

.about__title{
    margin-bottom: $s-sm;
    text-align: center;
}

.biography{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;

    @include tablet-screen{
        width: 70%;
    }

    @include desktop-screen{
        width: 50%;
    }    
}

.biography-btn-group{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: $s-md;
    width: 100%;

    @include tablet-screen{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }

    @include desktop-screen{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
}