.blog-section{
    align-items: center;
    background-image: url('/images/background/beach.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.blog-main{
    background-color: rgba(217, 201, 186, 0.75);
    border-radius: $s-xs;
    padding: $s-sm;
    align-items: center;

    @include transparent-background;
}

.blog__return{
    margin-bottom: $s-sm;
}

.blog__title{
    font-size: $f-lg;
    margin-bottom: $s-sm;
}

.blog-post-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: $s-md;
}