.blog {
    &-main {
        background-color: $light;
        border-radius: $s-xs;
        padding: $s-sm;
        align-items: center;

        @include desktop-screen{
            width: 900px;
        }
    }

    &-post-list {
        display: grid;
        grid-template-columns: auto;
        gap: $s-md;

        @include tablet-screen{
            grid-template-columns: auto auto;
        }

        @include desktop-screen{
            grid-template-columns: auto auto;
        }
    }
}