.profile {
    &-section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $s-xlg;

        @include beautyful-background;
    }

    &-body{
        display: grid;
        grid-template-rows: auto auto;
        gap: $s-md;
        align-items: center;
        background-color: $light;
        padding: $s-lg;
        border-radius: $s-xs;

        @include beautyful-shadow;

        @include desktop-screen{
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            gap: $s-xlg;
            width: 900px;
        }
    }

    &-photo-frame{
        border-radius: $s-xs;
        background-color: $light;
        text-align: center;
        //@include transparent-background;
    }

    &__name {
        margin-block: $s-sm;
        text-align: center;
    }

    &__position{
        font-weight: bold;
    }

    &__image {
        border-radius: 50%;
        @include beautyful-shadow;
    }
    
    &-info {
        background-color: darken($light, 10%);
        text-align: center;
        padding: $s-sm;
        font-weight: bold;
        font-size: $f-sm;
        border-radius: $s-xs;
        @include beautyful-shadow;
    }

    &__bio{
        font-size: $f-md;
        text-align: start;
    }
    
    &-networks {
        margin-top: $s-sm;
    }
}