.projects {

    &-section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $s-xlg;

        @include beautyful-background;
    }

    &-body {
        background-color: $light;
        padding: $s-lg;
        border-radius: $s-xs;

        &__description {    
            @include tablet-screen {
                width: 100%;
            }
        }
    }

    &-list {
        display: grid;
        gap: $s-sm;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
        justify-content: center;
        margin-top: $f-sm;
    
        @include tablet-screen {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }
    
        @include desktop-screen {
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        }
    }

}