.projects-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link{
    color: blue;
}

.projects-list{
    display: grid;
    gap: $s-sm;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill,1fr);
    justify-content: center;
    margin-top: $f-sm;

    @include tablet-screen{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    @include desktop-screen{
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        width: 90%;
    }
}