.form{
    background-color: rgba(217, 201, 186, 0.75);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 460px;
    padding: 20px;
}

.formGroup{
    display: grid;
    grid-template-rows: auto auto;
    gap: 16px;
    padding: 8px 0 ;
}

.formGroup label{
  padding-bottom: 1px;
}

.formGroup textarea{
  resize: none;
}

@media (max-width: 840px) {
  .form{
    width: 100%;
  }
}