.container {
    background: white;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 40px 1fr;
    padding: 16px;
    margin: 8px;
    gap: 12px;
    align-items: center;
    text-align: center;

    -webkit-box-shadow: 0px 0px 10px 3px rgba(100, 100, 100, 0.25);
    -moz-box-shadow: 0px 0px 10px 3px rgba(100, 100, 100, 0.25);
    box-shadow: 0px 0px 10px 3px rgba(100, 100, 100, 0.25);
}
