.article {
    &__headline {
        margin-bottom: $s-sm;
    }

    &__description {
        font-size: $f-sm;
        font-style: italic;
        margin-bottom: $s-xs;
    }

    &__content {
        margin: $s-xs 0;
        display: flex;
        flex-direction: column;
    }

    &__subtitle {
        margin-top: $s-xlg;
        margin-bottom: $s-sm;
        text-align: right;
    }

    &__quote {
        padding-left: 20px;
        border-left: 4px solid var(--dark);
    }

    &-figure{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__caption{
            text-align: center;
            font-size: $f-xs;
            font-style: italic;
            width: 320px;
        }
    }

    &__image {
        margin-block: $s-sm;
        object-fit: contain;
        width: 100%;
        height: 100%;
        @include beautyful-shadow;

        &--shrink{
            width: auto;
            height: auto;
            align-self: center;
        }
    }

    &__list-item {
        margin-left: 16px;
    }

    &__link{
        color: $info;
    }

    &__references {
        margin-top: 20px;

    }

}