.comment{
    &-section{
        margin-block: $s-md;

        &__title{
            margin-block-end: $s-sm;
        }
    }

    &-info{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0 $s-xs;
        align-items: center;
        margin-block-start: $s-xs;
    }

    &__photo{
        grid-row: 1 / span 2;
    }

    &__nickname{
        font-size: $f-md;
        font-weight: bold;
    }

    &__date{
        font-style: italic;
        grid-column: 2;
    }

    &__text{
        margin-block: $s-xs;
    }

    &-form{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: $s-xs;
        margin-block-start: $s-md;
    }

    &__text-input{
        grid-column: 1 / span 3;
        resize: none;
    }

    &__nickname-input{
        grid-column: 1 / span 2;
    }
}