.form {
  background-color: darken($light, 10%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $s-sm;
  align-self: center;

  @include desktop-screen {
    width: 500px;
  }

  &-group {
    display: grid;
    grid-template-rows: auto auto;
    gap: $s-sm;
    padding: $s-xs 0;

    &__label {
      padding-bottom: 1px;
    }

    &__textarea {
      resize: none;
    }
  }
}