.post-card {
    background: white;
    border: 2px solid $light;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $s-xs;


    &__image{
        border: 1px solid black;
        width: 100%;
        height: 200px;

        object-fit: cover;
    }

    &__title {
        text-decoration: underline;
        margin-bottom: $s-xs;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    
        &:hover {
            cursor: pointer;
        }
    }
    
    &__description {
        font-style: italic;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: $s-xs 0;
    }
}