.project-card {
    background: white;
    border: 2px solid var(--light);
    border-radius: $s-xs;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: $s-sm;

    @include desktop-screen{
        height: 450px;
    }
}

.project-card__image{
    border: 1px solid black;
}

.project-card__title{
    text-align: center;
}

.project-card__description{
    text-align: center;
}

.project-card__technologies{
    font-weight: bold;
    text-align: center;
}

.project-card-btn-group{
    display: flex;
    justify-content: space-around;
    width: 100%;
}