.project-card {
    background: white;
    border: 2px solid var(--light);
    border-radius: $s-xs;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: $s-sm;

    @include desktop-screen{
        height: 450px;
    }

    &__image{
        border: 1px solid black;
        width: 100%;
        height: auto;
    }

    &__title{
        text-align: center;
    }
    
    &__description{
        text-align: center;
    }
    
    &__technologies{
        font-weight: bold;
        text-align: center;
        margin-bottom: $s-sm;
    }
    
    &-btn-group{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
