.snippet{
    display: flex;
    flex-direction: column;
    gap: $s-xs;

    &__filename{
        font-style: italic;
        margin-bottom: $s-xs;
    }

    &__code{
        font-family:'Anonymous Pro';
        background-color: black;
        border-radius: $s-xs;
        padding: $s-sm;
        position: relative;
        color: #4AF626;
        font-weight: bold;
        
        & > pre{
            white-space: pre-wrap;
        }
    }

    &__button{
        position: absolute;
        z-index: 2;
        padding: 2px;
        right: $s-xs;
        color: inherit;
    }
}

.code{
    background-color: $light;
    padding-inline: $s-xs;
    padding-block: 4px;
}