//Elements (tags)
section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $s-xlg;

    @include beautyful-background;
}

h1 {
    font-size: $f-xlg;
}

h2 {
    font-size: $f-lg;
}

h3 {
    font-size: $f-md;
}

textarea {
    padding: 8px;
    font-size: 16px;
}

input {
    padding: 8px;
    font-size: 16px;
}

p {
    line-height: $s-lg;
    margin: $s-xs 0;
}

a {
    color: inherit;
}

blockquote {
    padding-inline: $s-sm;
    border-left: 4px solid $primary;
    background-color: wheat;
    margin: $s-xs 0;

    p {
        line-height: 1.5;
        font-style: italic;
    }

    @include tablet-screen {
        padding-inline: 120px;
    }

    @include desktop-screen {
        padding-inline: 140px;
    }
}