//Elements (tags)
section{
    padding: $s-md;
}

h1{
    font-size: $f-xlg;
}

h2{
    font-size: $f-lg;
}

h3{
    font-size: $f-md;
}

textarea {
    padding: 8px;
    font-size: 16px;
}

input {
    padding: 8px;
    font-size: 16px;
}

p {
    line-height: $s-lg;
    margin: $s-xs 0;
}

a{
    color: inherit;
}

blockquote {
    padding-left: 16px;
    border-left: 4px solid $primary;
    background-color: wheat;
    margin: 8px 0;
}

blockquote p {
    margin: 8px 20px 8px 0;
}