//Colors
$primary: #6C748C;
$secondary: #929CA6;
$light: #D9C9BA;
$dark: #1B2B40;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
$font-family: 'Inconsolata', monospace;

$f-sm: 16px;
$f-md: 20px;
$f-lg: 32px;

//Spacing
$s-xs: 8px;
$s-sm: 16px;
$s-md: 20px;