//Mixins
@mixin mobil-screen{
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin tablet-screen{
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin desktop-screen{
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin transparent-background{
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(217, 201, 186, 0.5);
    }
}