.container{
    background-color: var(--primary);
    padding: 20px;
}

.title{
    margin-bottom: 20px;
}

.biography p{
    /* font-size: 20px; */
    margin-bottom: 20px;
    text-align: justify;
}

.btns{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    width: 100%;
}

.btn{
    /* font-size: 20px; */
    padding: 12px;
    width: 100%;
}

@media (min-width: 840px) {
    .title{
        text-align: center;
    }
    .biography{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        width: 50%;
    }

    .btns{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
}