.container {
    align-items: center;
    background-image: url('/images/background/beach.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    padding: auto;
    width: 100vw;
}

.profile {
    display: flex;
    align-items: center;
}

.profilePhoto {
    border-radius: 50%;
}

.biography {
    background-color: rgba(217, 201, 186, 0.5);
    border-radius: 5px;
    line-height: 1.5;
    min-width: 30%;
    max-width: 80%;
    padding: 24px 28px;
    text-align: center;
}

.socials{
    display: grid;
    grid-template-columns: repeat(4,28px);
    justify-content: space-between;
    margin-top: 16px;
}

@media (max-width: 840px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
    }

    .profilePhoto {
        width: 50%;
    }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .biography {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(217, 201, 186, 0.5);  
    }
  }