.container{
    align-items: center;
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.title{
    margin-bottom: 16px;
}

.socials{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 12px;
}