.container{
    align-items: center;
    background: var(--secondary);
    display: flex;
    justify-content: center;
    padding: 16px;
}

.socials{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 12px;
}

@media (max-width: 840px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}