:root {
  --primary: #6C748C;
  --secondary: #929CA6;
  --light: #D9C9BA;
  --dark: #1B2B40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

html,
body {
  background: var(--light);
}

a {
  color: inherit;

}

button {
  background: var(--dark);
  border: none;
  border-radius: .2rem;
  color: white;
  font-size: 16px;
  padding: .375rem .75rem;
}

button:hover {
  filter: brightness(140%);
}

textarea {
  padding: 8px;
  font-size: 16px;
}

input {
  padding: 8px;
  font-size: 16px;
}

p {
  line-height: 30px;
}

blockquote{
  padding-left: 16px;
  border-left: 4px solid var(--primary);
  margin: 8px 0;
}