.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    
}

.description{
    margin-top: 20px;
}

.link{
    text-decoration: solid !important;
    color: blue;
}

.projectList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
}

@media (max-width: 840px) {
    
}