.container {
    background: white;
    border: 2px solid var(--light);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 320px;
    padding: 12px;
}

.image{
    border: 1px solid black;
}

.title{
    text-align: center;
    margin-top: 12px;
}

.description{
    text-align: center;
    margin-top: 12px;
}

.technologies{
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    padding: 12px 12px 0;
    width: 100%;
}

.button{
    background: #2A2859;
    color: white;
    font-size: 16px;
}

@media (max-width: 840px) {
    .container{
        margin: 0 auto;
    }
}