.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.description{
    margin-top: 20px;
}

.link{
    color: blue;
}

.projectList{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill,360px);
    grid-template-rows: repeat(auto-fill,400px);
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 380px) {
    .projectList{
        grid-template-columns: repeat(auto-fill,320px); 
    }
}