.container {
    background: white;
    border: 2px solid var(--light);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 360px;
    padding: 12px;
}

.image{
    border: 1px solid black;
}

.title{
    text-align: center;
}

.description{
    text-align: center;
}

.technologies{
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    padding: 12px 12px 0;
    width: 100%;
}

@media (max-width: 380px) {
    .container{
        
        width: 320px;
    }
}