.container {
    align-items: center;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.postList{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    width: 95%;
}